.content-card {
    display: flex;
    flex-direction: column;
    width: 360px;
    height: 360px;
}

.content-card:hover {
    background-color: #FFC107;
    transition: 0.3s;
}

mat-card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    width: auto;
    height: 240px;
}

mat-card-title {
    font-size: 18px;
}

mat-card-subtitle {
    font-size: 14px;
    color: #757575;
}

@media screen and (max-width: 600px) {
    .content-card {
        height: 160px;
    }

    img {
        width: auto;
        height: 20%;
    }

    mat-card-title {
        font-size: 16px;
    }

    mat-card-subtitle {
        font-size: 12px;
    }
}
